atomicwrites==1.4.0
attrs==21.2.0
certifi==2021.5.30
charset-normalizer==2.0.3
colorama==0.4.4
idna==3.2
iniconfig==1.1.1
jsonpointer==2.1
jsonschema==3.2.0
packaging==21.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.4
requests==2.26.0
rfc3987==1.3.8
six==1.16.0
strict-rfc3339==0.7
toml==0.10.2
urllib3==1.26.6
webcolors==1.11.1
